* {
 margin: 0;
 padding: 0;
}

body {
 font-family: 'Open Sans', sans-serif;
 display: grid;
 grid-template-columns: 1fr 1fr;
 background-color: #455A64;
}

@media screen and (max-width: 650px) {
body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}
}

.input-section {
 /*background-color: #455A64;*/
 text-align: center;
}


.title {
 color: #FFF;
 font-weight: 800;
 font-size: 60px;
 display: inline-block;
 margin-bottom: 50px;
 margin-left: 20px;
 margin-top: 150px;

}

img {
 width: 5rem;
 display: inline-block;
 margin-left: 20px;
 margin-right: 1px;
}

input {
 width: 450px;
 height: 35px;
 margin: 20px;
 padding-top: 8px;
 padding-bottom: 0px;
}

.website-title {
 margin-top: 0px;
}

::placeholder {
 font-size: 30px;
 font-weight: 300;
 color: #BCBEC0;
 padding-left: 10px;
 }

.enter-button {
 width: 455px;
 height: 45px;
 margin: 20px;
 font-size: 20px;
 font-weight: 800;
 color: #FFF;
 background-color: #FFC107;
 border-style: solid;
 border-color: #FFC107;
 border-width: 1px;
}

button:hover {
 background-color: #FFD773;
 border-style: solid;
 border-color: #FFD773;
 border-width: 1px;
}

#output-section {
background-color: #cfd8dc;
height: 100vh;
overflow-y: scroll;
}

div {
background-color: #fff;
border: 5px solid #607d8b;
margin: 2rem;
width: 20rem;
}

h1 {
 color: #455A64;
 margin: 10px;
}

h2 {
 font-weight: 400;
 color: #607D8B;
 margin: 10px;
}

.unread {
 font-size: 11px;
 color: #455A64;
 text-decoration: underline #F2F4F4;
 border: none;
 margin: 10px;
}

.delete {
 font-size: 11px;
 color: #455A64;
 text-decoration: underline #F2F4F4;
 border: none;
 margin: 10px;
 float: right;
}

.read:hover {
 text-decoration: underline #FFC107;
 background-color: #FFF;
 border: none;

}

.delete:hover {
 text-decoration: underline #FFC107;
 background-color: #FFF;
 border: none;
}

hr {
 margin: 10px;
 border: 1px solid #cfd8dc;

}

a:link {
 font-weight: 400;
 color: #607D8B;
 margin: 10px;

}

a:hover {
 color: #455A64;
 text-decoration: underline;
 text-decoration-color: #FFC107;
 font-weight: 800;
}

div {
 background: #fff;
 border: 2px solid #607d8b;
 margin: 2rem;
 width: 85%;
 overflow-x: scroll;
}



.read {
 color: #F05A28;
 font-size: 11px;
 border: none;
 margin: 10px;
 font-weight: 800;
}